{{! Show data from the person! }}
{{!-- {{> products}} --}}


<section class="profile-section section-container">

    <div class="profile-container inside-container">
        <h1>Profile</h1>

        {{>message}}

        <form class="profile-info form-container" method="post">
            {{#user}}
                <label for="name">Name</label>
                <input
                    id="name"
                    type="text"
                    pattern="[A-Za-z\s]+"
                    name="name"
                    value="{{name}}"
                    required
                />

                <label for="surname">Surname</label>
                <input
                    id="surname"
                    type="text"
                    pattern="[A-Za-z\s]+"
                    name="surname"
                    value="{{surname}}"
                    required
                />

                <label for="email">E-mail</label>
                <input
                    id="email"
                    type="email"
                    name="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    value="{{email}}"
                    required
                />

                <label for="age">Age</label>
                <input id="age" type="number"  name="age" value="{{age}}" />

                <label for="city">City</label>
                <input id="city" type="text" pattern="[A-Za-z\s]+" name="city" value="{{city}}" />

                <label for="profilePage">Profile Page</label>
                <input
                    id="profilePage"
                    type="url"
                    name="profilePage"
                    value="{{profilepage}}"
                />

                {{! Here we can ask for the password for extra protecction}}
                {{!-- <p>Confirm Password to save changes.</p>
                <label for="password">Password</label>
                <input id="password" type="password" name="password" required /> --}}

            {{/user}}

            <div class="buttons-container">
                <button type="submit">Save Changes</button>
                 <a href="/configuration" class="back-Button likeButton">Back</a>
            </div>

        </form>
    </div>
</section>