<section class="signers-section section-container">
    <h1>List of the singers</h1>

    <table>
        {{#listOfSigners}}
            <tr>
                <td>{{name}} {{surname}} </td>
                {{#if age}}
                    <td>{{age}}</td>
                {{/if}}

                {{#if city}}
                    <td> <a href="/signers/{{city}}">{{city}}</a> </td>
                {{/if}}

            </tr>
        {{/listOfSigners}}

    </table>

</section>