<section class="signers-section section-container">
    <h1>List of the singers</h1>
    {{#if nameCity}}
        <h3>In the city of: {{nameCity}}</h3>
    {{/if}}

    <table class="signers-table">
        {{#listOfSigners}}
            <tr>
                {{#if profilepage}}
                    <td class="name-cell"><a
                            href="{{profilepage}}"
                            target="”_blank”"
                        >{{name}}
                            {{surname}}</a>
                    </td>

                {{else}}
                    <td class="name-cell">{{name}} {{surname}} </td>

                {{/if}}

                <td class="age-cell">{{age}}</td>

                {{#if city}}
                    <td class="city-cell">
                        <a href="/signers/{{city}}">{{city}}</a>
                    </td>
                {{/if}}

            </tr>
        {{/listOfSigners}}

    </table>

</section>